<h3>{{displayQuery}}</h3>
<h2>alv</h2>
<!--<input name="query" placeholder="Enter search" [(ngModel)]="searchQuery" />
<button (click)="gitSearchUser()">Submit</button>
<div *ngIf="searchUserResult && !errorCaracter; else elseBlock">
    <h3 class="total"> Total-Results : {{searchUserResult.total_count}}</h3>
    <ul class="list">
        <li [ngClass]= "['list_item', (i % 2 === 0) ? 'silver' : 'white']" 
            *ngFor="let result of searchUserResult.items; index as i">
            <img class="avatar" [src]="result.avatar_url" />
            <h3 class="title"> {{result.name}}
                <small>{{result.login | uppercase}} </small>
            </h3>
            <p>His Score is {{result.score}}</p>
            <div>
                <div *ngIf="result.site_admin; else noAdminText">
                    <h4>:O! An Admin!</h4>
                </div>
                <ng-template #noAdminText>Normal user...</ng-template>
            </div>
            <a [href]="result.html_url">
                <strong>{{result.html_url}}</strong>
            </a>
        </li>
    </ul>
</div>
<ng-template #elseBlock>
    <h2>
        Los caracteres que ha utilizado son invalidos
    </h2>
</ng-template>-->
